<html>
<head></head>
<body>
 <table class="table table-hover">
    
    <tr class = "row"style="background-color:#FFFFFF">
      <td class="col-md-1">
      </td>
      <td class="col-md-1">
        <div class="container-pic">
        <a href ='/instagrampics/index'>
        <img src="http://www.clker.com/cliparts/S/B/l/d/h/t/frameless-camera.svg" height="50px" width="50px" class="pull-right"></a>
      </div>
      </td>
      <td class="col-md-3">  <p class="text-lg-left"><h3>InstagramME</h3></p> 
      </td>
      <td class="col-md-4">
        <div class="col-md-6">
          <div class "form-group">
            <label for="SearchBox"></label>
            <input type = "Search" class = "form-control" id = "Searchbox" placeholder= "Search">
          </div>
        </div>
      </td>
      
      <td class="col-md-3">
        <div class="container-header">
        <button type="button" class="btn btn-primary">Get the web</button>
      </div>
        <!-- <button href="#" type="button" class="btn btn-link active" role="button"onclick ="window.open('instagrampics/new')">Log IN</button>  -->
       <!--  <form action="localhost:3000/instagrampics/new">
          <input type = "LogIN" value"LogIN">
        </form> -->
       
      
        
      </td>
      
    </tr>
</table>
<div class="container-newpic" >
	<div class="col-sm-2">
	<img src="<%=@userprofile.profilepic%>" class="img-circle" width="100" height="100" >
	</div>
	<div class="col-sm-10">
		<p></p>
		<p></p>
		<p></p>
		<label for="inputEmail3" class="control-label" ><h1><%=@userprofile.name%></h1></label>
	</div>
</div>

<div class="container-newpic">
	
     <div class="form-group-one">
      <label for="inputEmail3" class="col-sm-2 control-label">Followers</label>
      <div class="col-sm-10">
        <label type="followers" class="control-label" ><%=@userprofile.followers%>
      </div>
     </div>
	<div class="form-group-one">
    	<label for="inputPassword3" class="col-sm-2 control-label">Following</label>
    	<div class="col-sm-10">
     	 <label class="control-label"><%=@userprofile.following%></label>
    	</div>
  </div>
<%= render 'form' %>

<%= link_to 'Show', @userprofile %> |
<%= link_to 'Back', userprofiles_path %>

</div>

</body>
</html>

