<p id="notice"><%= notice %></p>

<p>
  <strong>Photo url:</strong>
  <img src="<%= @instagrampic.photo_url %>"height="300" width="300">
  
</p>

<p>
  <strong>Description:</strong>
  <%= @instagrampic.description %>
</p>

<%= link_to 'Edit', edit_instagrampic_path(@instagrampic) %> |
<%= link_to 'Back', instagrampics_path %>
